[user]
	email = hub.lucasoliveira@gmail.com
	name = Lucas Oliveira
[alias]
	s = status
	l = log --oneline
	a = add
	aa = add --all
	ps = push
	pl = pull
	co = checkout
	c = commit -m

[core]
	editor = vim
